{% import '_includes/forms' as _forms %}

{{ _forms.field({
    label: "Mode"|t('site'),
    instructions: "Select the rendering mode for regular users."|t('incognito-field'),
    id: 'mode',
}, _forms.select({
    id: 'mode',
    name: 'mode',
    options: modes,
    value: field.mode|default('plain')
})) }}

{{ _forms.checkboxField({
    label: "Use different mode for admins"|t('incognito-field'),
    id: 'enableAdminMode',
    name: 'enableAdminMode',
    checked: field.enableAdminMode,
    toggle: 'admin-mode'
}) }}

<div id="admin-mode" class="{% if not field.enableAdminMode %} hidden{% endif %}">
    {{ _forms.field({
        label: "Admin Mode"|t('site'),
        instructions: "Select the rendering mode for admins."|t('incognito-field'),
        id: 'adminMode',
    }, _forms.select({
        id: 'adminMode',
        name: 'adminMode',
        options: adminModes,
        value: field.adminMode|default('plain')
    })) }}
</div>

<hr>

{% include '_components/fieldtypes/PlainText/settings' %}
